body {
  font-family: "Work Sans", sans-serif;
  color: #3a3a3a;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.sideText {
  border: 1px solid #c9e3f9;
  background-color: #dfebf5;
  padding: 10px;
  border-radius: 5px;
}

.sideList {
  list-style-type: none;
  padding-left: 5px;
}
.sideLinks {
  color: $darkRed;
  text-decoration: none;
}
.sideLinks:hover {
  color: $lightRed;
}
.mainTitle {
  color: $darkRed;
}
.smallText {
  font-size: 12px;
}
.coloredDescriptionText {
  color: $darkRed;
}
.thinBorder {
  border: 1px solid rgba(0,0,0,.10);
}
.noHorizontalMargins {
  margin-left: 0px;
  margin-right: 0px;
}
